{% extends 'main.html' %}

{% block content %}

<h1>Projects Template</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et lacus ac libero semper consectetur quis ut erat. Nam rutrum purus at dolor ultricies, vitae tincidunt ante viverra. Nunc laoreet pretium dui, fringilla blandit justo ultrices ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porta libero odio, at dictum nisi maximus nec. Ut tortor odio, tincidunt ac congue vel, bibendum sit amet justo. Aliquam ut nulla varius, ornare enim quis, condimentum justo. Integer sollicitudin vulputate consequat. Maecenas gravida, nulla ac consequat tincidunt, nisi tellus maximus felis, vitae porttitor augue arcu hendrerit ante. Nulla aliquet velit nec metus euismod maximus. Suspendisse pellentesque purus nec massa tincidunt, a auctor tortor pellentesque. Sed et nisi vel nisl porta rutrum. Praesent commodo leo ac sollicitudin pulvinar.</p>

{% endblock content %}